
.sidenav{
    display:none;
}
@media only screen and (max-width: 630px) {

.sidenav {
        position: fixed;
        top: 0;
        left: 6.9rem;
        height: 100%;
        width: 250px;
        background-color: #ffffff;
        padding-top: 40px;
        padding-left: 6px;
        z-index: 100;
        transition: transform 0.3s ease-in-out;
        transform: translateX(0);
        display: flex;
        flex-direction: column;
        gap: 13rem;
    }

    .sidebar-2 {
        margin-left: 40px;
    }

    .side-x {
        margin-left: 15px;
    }

}