@import url(https://db.onlinewebfonts.com/c/6cc715122c2880c53facde0e44b3498c?family=LetteraTextStd);
@import url(https://db.onlinewebfonts.com/c/1b0f48932a810b892b9a757bdd2d37d5?family=LetteraTextStd-Bold);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Roboto:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}